*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Encabezado{
    
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 150px;
    width: 100%;
}

.Encabezado .Titulo-Principal{
    
    font-size: 75px;
    color: black;
    width: 100%;
    height: 75%;
    text-align: center;
}

.navegacion{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: 50px;
    width: 100%;
}

.navegacion ul{
    
    width: 40%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navegacion ul li{

    font-size: 25px;
    color: black;
    width: 100%;
    text-align: center;
}

.container {
    background-color: cornsilk;
    display: flex;
    width: 60%;
    height: 70%;
}

.primerart{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    padding: 15px;
}
.primerart img{
    
    width: 70%;

}
.primerart p{
    padding: 15%;
    font-size: 15px;
    text-align: center;
}