*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Encabezado{
    background-color: black;
    display: flex;
    justify-content: space-between; /*horizontal*/
    align-items: center; /*vertical*/
    height: 150px;
    width: 100%;
    
}
.Encabezado img{
height: 100%;
padding: 10px;
}
.Encabezado .titulo-principal{
    color: grey;
    font-size: 75px;
    width: 70%;
}
.container{
    display: flex;
}
.aside{
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 25%;
}
.aside ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    list-style: none 
    
}
.aside ul li{
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
    width: 100%;
    height: 60px;
}
.section-main{
display: flex;
flex-direction: column;
width: 75%;
padding: 16px;}

.section-main img{
    width: 70%;
    margin:auto;}

.section-main p{
    color: grey;
    font-size: 20px;
    margin-top: 16px;
}
.multimedia{
    display: flex;
    padding: 16px;
}
.video{
    padding: 16px;
    width: 50%;
}
.audio{
    width: 50%;
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.audio audio{
    margin: 25px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 120px;
}