*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Encabezado{
    background-color: white;
    display: flex;
    justify-content: space-between; /*horizontal*/
    align-content: center; /*vertical*/
    height: 120px;
    width: 100%;
}
.logo{
background-color:#7a3168;
height: 100%;
width: 18%;

}
.log{
    color: #ce62d2;
    font-size: 50px;
    align-content: center;
    text-align: center;
    padding-top: 25px;
}
.navegacion{
    background-color:#2d8fb6;
    display: flex;
    justify-content: space-between; /*horizontal*/
    align-content: center; /*vertical*/
    height: 100%;
    width: 46%;
    margin-left: 7px;
}

.navegacion ul {
    width: 80%;
    display: flex;
    flex-direction: row;
    list-style: none
     
}
.navegacion ul li{
    display: flex;
    align-items: center;
    color:#5bc0ec;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    width: 100%;
    height: 50px;
    padding-left: 80px;
}

.asteriscos {
    background-color:#307185;
    height: 100%;
    width: 18%;
    margin-left: 7px;
    margin-right: 7px;
}

.asteriscos h1{
    color: #5dc8fe;
    font-size: 30px;
    align-content: flex-end;
    text-align: center;
    padding-top: 30%;

    
}

.telefono{
    display: flex;
    flex-direction: column;
    background-color:#307185;
    height: 100%;
    width: 18%;
    align-content: left;
    justify-content: center;
    padding-left: 55px;
    padding-bottom: 10px;
}
.telefono img{
    height: 80px;
    width: 80px;
    padding-top: 10px;

}

.telefono h1{
    font-size: 30px;
    text-align: left;
    color: #55b5db;
    padding-right: 10px;
    
}
.container{
    background-color: #ffcc00;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
}

.container ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none 
    
}
.container ul li{
    display: flex;
    align-items: center;
    background-color: #ff9a00;
    color: #ff6200;
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
    width: 100%;
    height: 130px;
}

footer{
    background-color:#2e9b00;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.jobs{
        display: flex;
        justify-content: space-between
        
    }
    
    .jobs ul{
        width: 55%;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        list-style: none 
        
        
    }
    .jobs ul li{  
        background-color: #2f7200;
        color:#a2d6a5;
        text-align: left;
        font-size: 30px;
        width: 55%;
        height: 70px;
        padding-right: 60px;
        padding-left: 10px;
        padding-top: 15px;
}       
.redes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:#2f7200;
        padding-left: 40px;
    }
    
    .redes h3{
        color: #a2d6a5;
        font-size: 30px;
        align-content: flex-end;
        text-align: center;
        width: 100%;
        height: 70px;
        padding-top: 20px;
    }
    .redes img{
        height: 80px;
        width: 150px;
    }


.copy h3{
    font-size: 30px;
    text-align: center;
    color: #a2d6a5;
    padding: 20px;
}